*{
    font-family: "Montserrat", sans-serif;
}
h1{
    font-size: 68px;
    margin-left: 250px;
    margin-top: 120px;
}
.button{
    border-radius: 50px;
    border: 2px solid black;
    width: 122px;
    height: 60px;
    margin-left: 665px;
    margin-top: 55px;
}
.round{
    border-radius: 75px;
    border: 1px solid black;
    height: 57px;
    width: 50px;
    transition: all 1s ease;
}